.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-wrapper .options {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3rem;
}

.header-wrapper .stock-and-borders {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-wrapper .search-and-sort {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  position: relative;
  left: -30px;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  span {
    font-weight: bold;
    font-size: 2rem;
    color: #ca4f32;
  }

  h1 {
    font-size: 2.5rem;
    color: #ece5c8;
  }
}
