.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-wrapper .options {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.header-wrapper .options .row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem 3rem;
  flex-wrap: wrap;
}

.spacer {
  width: var(--tf2-backpack-border-option-width);
}

.border-options {
  width: var(--tf2-backpack-border-option-width);
}

.sort-options {
  width: var(--tf2-backpack-sort-option-width);
}

/* TODO: use variable --mobile-width */
@media screen and (max-width: 1040px) {
  .spacer {
    display: none;
  }

  .header-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header-wrapper .options {
    gap: 1rem;
    max-width: var(--tf2-backpack-border-option-width);
    width: 100%;
  }

  .header-wrapper .options .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .border-options {
    width: 100%;
  }

  .sort-options {
    width: 100%;
  }
}

.header-wrapper .stock-and-borders {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-wrapper .search-and-sort {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  position: relative;
  left: -30px;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  span {
    font-weight: bold;
    font-size: 2rem;
    color: #ca4f32;
  }

  h1 {
    font-size: 2.5rem;
    color: #ece5c8;
  }
}
