@font-face {
  font-family: "TF2";
  src: url("./assets/tf2.ttf");
}

@font-face {
  font-family: "TF2 Build";
  src: url("./assets/tf2build.ttf");
}

@font-face {
  font-family: "TF2 Professor";
  src: url("./assets/tf2professor.ttf");
}

@font-face {
  font-family: "TF2 Secondary";
  src: url("./assets/tf2secondary.ttf");
}

:root {
  --tf2-colors-normal: #b2b2b2;
  --tf2-colors-unique: #ffd700;
  --tf2-colors-vintage: #476291;
  --tf2-colors-genuine: #4d7455;
  --tf2-colors-strange: #cf6a32;
  --tf2-colors-unusual: #8650ac;
  --tf2-colors-haunted: #38f3ab;
  --tf2-colors-collectors: #aa0000;
  --tf2-colors-decorated: #fafafa;
  --tf2-colors-community: #70b04a;
  --tf2-colors-selfmade: #70b04a;
  --tf2-colors-valve: #a50f79;
}

body {
  margin: 0;
  font-family: "TF2 Secondary", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  font-family: "TF2 Secondary";
}

button {
  font-family: "TF2 Build";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "TF2 Build";
  font-size: smaller;
  font-weight: 500;
}
