.Item {
  position: relative;
  --item-border-color: #3c352d;
  border: 3px var(--item-border-color) solid;
  border-radius: 0.6rem;
  background-color: #221e1b;
  width: var(--tf2-backpack-item-width);
  height: var(--tf2-backpack-item-height);
  box-sizing: border-box;
}

.Item img {
  width: var(--tf2-backpack-item-width);
  height: var(--tf2-backpack-item-height);
  object-fit: cover;
}

.untradable {
  background-color: rgba(255, 0, 0, 0.2);
}

.unique {
  --item-border-color: var(--tf2-colors-unique);
}

.normal {
  --item-border-color: var(--tf2-colors-normal);
}

.vintage {
  --item-border-color: var(--tf2-colors-vintage);
}

.genuine {
  --item-border-color: var(--tf2-colors-genuine);
}

.strange {
  --item-border-color: var(--tf2-colors-strange);
}

.unusual {
  --item-border-color: var(--tf2-colors-unusual);
}

.haunted {
  --item-border-color: var(--tf2-colors-haunted);
}

.collectors {
  --item-border-color: var(--tf2-colors-collectors);
}

.decorated {
  --item-border-color: var(--tf2-colors-decorated);
}

.community {
  --item-border-color: var(--tf2-colors-community);
}

.selfmade {
  --item-border-color: var(--tf2-colors-selfmade);
}

.valve {
  --item-border-color: var(--tf2-colors-valve);
}

.empty {
  --item-border-color: #3c352d;
  background-color: #3c352d;
}
