.Item {
  position: relative;
  --item-border-color: #3c352d;
  border: 3px var(--item-border-color) solid;
  border-radius: 0.6rem;
  background-color: #221e1b;
  width: 135px;
  height: 100px;
}

.Item img {
  width: 135px;
  height: 100px;
  object-fit: cover;
}

.untradable {
  background-color: rgba(255, 0, 0, 0.2);
}

.unique {
  --item-border-color: var(--tf2-colors-unique);
}

.normal {
  --item-border-color: var(--tf2-colors-normal);
}

.vintage {
  --item-border-color: var(--tf2-colors-vintage);
}

.genuine {
  --item-border-color: var(--tf2-colors-genuine);
}

.strange {
  --item-border-color: var(--tf2-colors-strange);
}

.unusual {
  --item-border-color: var(--tf2-colors-unusual);
}

.haunted {
  --item-border-color: var(--tf2-colors-haunted);
}

.collectors {
  --item-border-color: var(--tf2-colors-collectors);
}

.decorated {
  --item-border-color: var(--tf2-colors-decorated);
}

.community {
  --item-border-color: var(--tf2-colors-community);
}

.selfmade {
  --item-border-color: var(--tf2-colors-selfmade);
}

.valve {
  --item-border-color: var(--tf2-colors-valve);
}

.empty {
  --item-border-color: #3c352d;
  background-color: #3c352d;
}

.pill {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 2px 8px;
  font-size: 1rem;
  color: #bd4d3b;

  border-radius: 0.5rem;
  background-color: black;
}
